<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/variables.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>User Display</title>
  </head>
  <body>
    <img src="images/user-bg.svg" alt="Background" class="user-bg" />
    <div class="user-container">
      <p class="user-title">User Display</p>
      <div class="user-details">
        <div class="break">
          <span>Name: </span><span th:text="${user.name}"></span>
        </div>
        <div class="break">
          <span>Email: </span><span th:text="${user.email}"></span>
        </div>
        <div class="break">
          <span>Message: </span><span th:text="${user.message}"></span>
        </div>
      </div>
    </div>
  </body>
</html>
